* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
}

body, p, a, label {
    font-family: 'Rubik', sans-serif;
}

#app-logo-dashboard {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 30px;

}

#dashboard-navigation {
    background-color: #1abc9c;
    background-image: linear-gradient(100deg, #1CCDAA, #1abc9c);
    margin-bottom: 0;
    border-bottom: 1px solid #1abc9c;
    padding: 10px 0;

}

#dashboard-main-nav .nav-links {
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
    -webkit-transition: border-bottom 50ms ease-in-out, opacity 200ms ease-in-out;
    -moz-transition: border-bottom 50ms ease-in-out, opacity 200ms ease-in-out;
    -o-transition: border-bottom 50ms ease-in-out, opacity 200ms ease-in-out;
    transition: border-bottom 50ms ease-in-out, opacity 200ms ease-in-out;
}

#dashboard-main-nav .nav-links:hover,
#dashboard-main-nav .nav-links:focus {
    border-bottom: 2px solid #fff;
    opacity: 1;
}

#dashboard-main-nav .nav-links:hover i {
    transform: scale(1.2)
}

#dashboard-sec-nav .dropdown .dropdown-toggle {
    color: #fff;
    font-size: 16px;
}

#dashboard-sec-nav .dropdown .dropdown-toggle {
    background: none;
}

#dashboard-sec-nav .dropdown .dropdown-toggle:focus,
#dashboard-sec-nav .dropdown .dropdown-toggle:active {
    background: none;
}

#dashboard-sec-nav .dropdown .dropdown-menu {
    min-width: 120px;
    font-size: 16px;
    font-weight: 300;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#dashboard-sec-nav .dropdown .dropdown-menu:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: -12px;
    right: 40%;
    margin-left: -12px;
}

#dashboard-sec-nav .dropdown-menu .divider {
    margin: 0;
}

.sec-nav-links {
    font-weight: 300;
    padding: 10px 20px !important;
}

.activity-summary {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #1abc9c;
    background-color: #1abc9c;
    background-image: linear-gradient(100deg, #1CCDAA, #1abc9c);
    color: #fff;
}

.stats {
    padding: 20px;
}

.stats .h3 {
    font-size: 15px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}

.stats #stats-small-text {
    font-size: 13px !important;
    font-weight: 300;
    line-height: 0;
    margin-top: 0;
}

.stats .info-list .info-list-item {
    color: #fff;
}

.stats .info-list {
    border-color: rgba(255, 255, 255, 0.8);
}

.stats p:first-of-type {
    font-size: 48px;
    margin-top: 10px;
    line-height: 52px;
    font-weight: 500;
}

.stats .stats-btn {
    background-color: rgba(26, 188, 156, 0.8);
    -moz-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
    -ms-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    padding: 0.3625rem 1.125rem 0.5625rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    color: #fff;
}

.stats .stats-btn:hover,
.stats .stats-btn:focus {
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(26, 188, 156, 1);
}

.dashboard-content {
    background: #F5F7FC;
    padding-top: 40px;
    position: relative;
}

.activity-empty-state {
    padding-top: 50px;
    padding-bottom: 100px;
}

.new-plan-link {
    display: inline-block;
}

.new-plan-link i {
    font-size: 120px;
    line-height: 120px;
    color: #9da3a6;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.new-plan-link p {
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    padding: 20px 0;
    color: #9da3a6;
    font-weight: 300;
}

.new-plan-link:hover i {
    color: #1abc9c;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: none;
}

.new-plan-link:hover,
.new-plan-link:focus {
    text-decoration: none;
    color: #1abc9c;
}

.new-plan-link:hover p {
    color: #1abc9c;
}

.new-plan-page {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 9999999;
    left: 0;
    right: 0;
    top: 0;
    transition: .5s ease-in-out;
    background: #fff;
    overflow: auto;
}

.new-plan-page .close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    color: #616161;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.new-plan-content {
    display: none;
}

.new-plan-content .center-block {
    position: relative;
    margin: 120px auto;
}

.goal-form {
    position: relative;
}

.goal-form .h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}

.goal-form .form-group {
    margin: 30px 0 30px;
}

.goal-form fieldset:not(:first-of-type) {
    display: none;
}

.helper-text {
    font-weight: 300;
    font-size: 15px;
    color: #888;
    padding-top: 20px;
}

.large-icon-container i {
    font-size: 120px;
    line-height: 120px;
    color: #1abc9c;
}

.large-icon-container .h3 {
    font-size: 28px;
    font-weight: 300;
}

.next-btn {
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0 5px;
    border-radius: 50%;
    background-color: #1abc9c;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
}

.next-btn:nth-of-type(2n) {
    margin: 0 20px;
}

.next-btn:hover,
.next-btn:focus {
    color: #fff;
    background: #1abc9c;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.previous-btn {
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    font-size: 40px;
    font-weight: 500;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
}

.previous-btn:hover,
.previous-btn:focus {
    color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.create-plan-btn,
.submit-btn {
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    padding: 2px 25px;
    border-radius: 3px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.create-plan-btn:hover,
.create-plan-btn:focus {
    color: #fff;
    background: #1abc9c;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.submit-btn:hover,
.submit-btn:focus {
    color: #fff;
    background: #1abc9c;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.back-btn {
    margin: 0 20px;
    display: inline-block;
    height: 50px;
    padding: 2px 25px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.back-btn:hover,
.back-btn:focus {
    color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.inner-addon {
    position: relative;
}

.inner-addon div {
    position: absolute;
    background: 0;
    width: 34px;
    height: 34px;
    left: 6px;
    bottom: 16px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 18px;
    color: #5CD8BB;
}

.inner-addon .form-icon {
    position: absolute;
    background: 0;
    width: 34px;
    height: 34px;
    right: 6px;
    bottom: 90px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 25px;
    color: #5CD8BB;
}

.inner-addon input,
.inner-addon select {
    padding-left: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
}

.inner-addon label {
    font-weight: 300;
}

#calender-icon {
    bottom: 48px;
}

#naira-icon {
    bottom: 50px;

}

#purpose-icon {
    bottom: 68px;
}

#contribute-icon {
    bottom: 70px;
}

#custom-frequency {
    padding-left: 10px;
}

.js-no-timeline {
    opacity: 0;
    display: none;
    transform: translateY(50px);
    transition: all 0.4s ease-in-out;
}

.show-custom-timeline {
    display: block;
    opacity: 1;
}

.savings-amount-breadkdown {
    margin: 20px 0;
    padding: 0 20px;
}

.savings-amount-breadkdown span.label.label-timeline {
    background: #1abc9c;
    position: relative;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.savings-amount-breadkdown span.label {
    padding: .8em 1em .9em;
    margin: 4px 1px;
    opacity: 0.6;
    cursor: pointer;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.savings-amount-breadkdown span.label:hover {
    opacity: 1;
}

.or-breaker {
    color: #CCC;
    border-top: 1px solid #E8E8E8;
    position: relative;
    width: 90%;
    margin: 30px auto 0;
    display: block;
}

.or-breaker span {
    position: absolute;
    font-size: 12px;
    width: 35px;
    height: 20px;
    background-color: #fff;
    top: 0;
    margin-top: -10px;
    left: 50%;
    margin-left: -20px;
}

.or-breaker span i {
    font-size: 20px;
}

.page-header {
    padding-top: 70px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background: #1abc9c;
    background-color: #1abc9c;
    background-image: linear-gradient(100deg, #1CCDAA, #1abc9c);
    color: #fff;
}

.page-header .h1 {
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings-content {
    padding-top: 40px;
    background: #F5F7FC;
    position: relative;
    height: 100vh;
}

.profile-form .form-group .form-control {
    padding-left: 10px;
    margin-bottom: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
}

.profile-form .form-group label {
    font-weight: 400;
}

.settings-nav {
    padding-bottom: 0;
    border-bottom: 1px solid #e3e5e6;
}

.settings-nav .nav-pills li.active .settings-link {
    background-color: transparent;
    color: #1abc9c;
    border-bottom: 1px solid #1abc9c;
}

.settings-nav .nav-pills .settings-link {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
    color: #222;
    border-right: 1px solid #edf1f2;
    border-radius: 0;
    transition: border-bottom 50ms ease;
}

.settings-nav .nav-pills #profile-link {
    border-left: 1px solid #edf1f2;
}

.settings-nav .nav-pills .settings-link:hover,
.settings-nav .nav-pills .settings-link:focus,
.settings-nav .nav-pills .settings-link:active {
    background: none;
    color: #1abc9c;
    border-bottom: 1px solid #1abc9c;
}

.tab-container {
    background: #fff;
    padding: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 40px;
}

.settings-btn {
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    padding: 2px 25px;
    border-radius: 3px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.settings-btn:hover,
.settings-btn:focus {
    color: #fff;
    background: #1abc9c;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.bank-list {
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.bank-list .bank-link {
    display: block;
    background: #eeeeee;
    color: #999;
    padding: 10px;
    line-height: 10px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}

.bank-list .bank-link:hover,
.bank-list .bank-link:focus {
    text-decoration: none;
    outline: none;
}

.bank-list .bank-link span {
    display: block;
    margin-top: 5%;
    font-size: 45px;
    line-height: 1;
}

.bank-list .bank-link p {
    padding: 5% 0;
}

#bank-setting-modal .modal-content {
    padding: 40px 50px;
    border-radius: 4px;
    top: 50px;
    background: #32343a;
    border: 4px solid #e3e5e6;
}

#bank-setting-modal .modal-content .modal-body .h3 {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0;
}

#bank-setting-modal .modal-content .modal-body .helper-text {
    font-size: 20px;
    padding: 10px 0 20px;
}

#bank-setting-modal .modal-content .modal-body form .form-control {
    padding-left: 10px;
    margin-bottom: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
}

#bank-setting-modal .modal-content .modal-body form .form-group label {
    font-weight: 400;
    color: #fff;
}

#bank-setting-modal .modal-content .modal-header {
    padding: 0;
    border: 0;
}

#bank-setting-modal .modal-content .modal-header .close {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #e3e5e6;
    position: absolute;
    top: -16px;
    right: -16px;
    opacity: 1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#bank-setting-modal .modal-content .modal-header .close:hover,
#bank-setting-modal .modal-content .modal-header .close:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
}

.savings-content {
    position: absolute;
    width: 100%;
    background: #F5F7FC;
    height: 100%;
}

.dashboard-active-content {
    position: absolute;
    width: 100%;
    background: #F5F7FC;
    padding-top: 40px;
}

.goal {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}

.goal:hover,
.goal:focus {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
}

.goal .panel-heading {
    padding: 0;
    border-bottom: none;
    background: none;
}

.goal .panel-body {
    padding: 0;
}

.goal-img-container {
    width: 100%;
    height: auto;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #323b40;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
}

.goal-img-container:hover {
    opacity: 0.85;
    color: #68767d;
    cursor: pointer;
}

.goal-img {
    width: 100%;
    position: relative;
    height: 160px;
    border-radius: 0;
    background: url("../img/img1.jpg") no-repeat 50% 50% /cover, #68767d;
}

.goal-thumbtext-container {
    padding: 0 10px 15px 10px;
}

.page-heading {
    background: #fff;
    padding: 25px 0;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-heading .h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.page-heading .input-group .input-group-btn button {
    background: #39c480;
    color: #fff;
    border-color: transparent;
}

.page-heading .input-group .form-control {
    border-radius: 0;
    font-weight: 300;
}

.custom-label {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.85;
    padding: 0.0625rem 1.125rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.custom-label.active {
    background: #00E676;

}

.custom-label.inactive {
    background: red;
}

.goal-title {
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #4353ff;
    line-height: 20px;
}

.side-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    -webkit-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -webkit-transform: translate(339px);
    transform: translateX(339px);
    background: #fff;
    overflow-y: auto;
    max-width: 339px;
}

.show-side-modal {
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    -webkit-transform: translate(0);
    transform: translateX(0);
}

.side-modal .close-btn {
    position: absolute;
    right: 10px;
    font-size: 40px;
    color: #888;
}

.side-modal .close-btn:hover {
    color: #111;
}

.side-modal .back-btn {
    position: absolute;
    left: 10px;
    font-size: 45px;
    color: #888;
    background: none;
    margin: 0;
    padding: 0;
}

.side-modal .back-btn:hover,
.side-modal .back-btn:focus {
    color: #111;
    background: none;
    box-shadow: none;
}

#side-modal-content {
    position: relative;
    width: 100%;
}

#side-modal-content .side-modal-heading .h3 {
    font-weight: 300;
}

#side-modal-content .side-modal-divider {
    height: 1px;
    border: 1px solid #D6DADC;
    margin-bottom: 10px;
}

#side-modal-content .side-modal-container {
    width: 100% !important;
}

#side-modal-content .stats-list {
    padding: 15px 0;
    border-bottom: 1px solid rgba(26, 27, 31, 0.16);
    margin-left: 0;
    margin-right: 0;
}

#side-modal-content .action-list {
    margin: 20px 0 10px;

}

#side-modal-content .stats-list-item span {
    font-weight: 300;
    font-size: 14px;
    color: rgba(26, 27, 31, 0.6);
}

#side-modal-content .stats-list-item span.title {
    font-weight: bold;
    font-size: 16px;
    color: #111;
}

.info-list {
    border: 1px solid rgba(26, 27, 31, 0.16);
    padding: 10px 0;
    margin: 0 5px;
    border-width: 0 0 1px;
}

.info-list-item {
    color: rgba(26, 27, 31, .42);
    font-size: 12px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.info-list-item i {
    font-weight: bold;
}

.withdraw-form-container {
    opacity: 0;
}

.withdraw-form-container .withdraw-form {
    margin-top: 40px;
}

.withdraw-form .inner-addon label {
    font-weight: bold;
}

.withdraw-form .inner-addon input,
.withdraw-form .inner-addon select {
    height: 40px;
}

.withdraw-form .inner-addon select {
    padding-left: 10px;
}

.withdraw-form .inner-addon input {
    padding-left: 30px;
}

#withdraw-naira-icon {
    top: 6px;
    font-size: 20px;
}

.withdraw-btn-success {
    margin: 0 auto;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 3px;
    background-color: #00C853;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.withdraw-btn-success:hover,
.withdraw-btn-success:focus {
    color: #fff;
    background: #388E3C;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

.withdraw-btn-danger {
    margin: 0 auto;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 3px;
    background-color: #D32F2F;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.withdraw-btn-danger:hover,
.withdraw-btn-danger:focus {
    color: #fff;
    background: #D50000;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
}

#custom-withdraw-amount {
    opacity: 0;
    margin-top: 30px;
}

.goal-timeline .row:first-of-type {
    margin-top: 20px;
}

.goal-timeline .stats-list p.title {
    color: rgba(26, 27, 31, 0.6);
}

.dashboard-summary .panel .panel-heading {
    background: #fff;
    border-bottom: none;
}

.dashboard-summary .panel-heading .h3 {
    margin: 5px 0;
    font-weight: 300;
}

.dashboard-summary .panel-heading a.settings-icon {
    font-size: 18px;
    color: #999;
    animation-name: rotateOnHover;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotateOnHover {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateOnHover {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.dashboard-summary .panel-body a.dashboard-savings-summary {
    display: block;
    color: #999;
    border-bottom: 1px dotted #b7bcbf;
    padding: 10px 0;
    text-decoration: none;
    outline: none;
}

.dashboard-summary.panel-body a.dashboard-savings-summary:hover {
    opacity: 0.6;
    text-decoration: none;
    color: #999;
}

.dashboard-savings-summary .summary-savings-amount span {
    display: block;
}

.dashboard-savings-summary .summary-savings-amount span:first-of-type {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.dashboard-savings-summary .summary-savings-amount span:first-of-type.active {
    color: #00E676 !important;
}

.dashboard-savings-summary .summary-savings-amount span:first-of-type.inactive {
    color: red !important;
}

.dashboard-savings-summary .summary-savings-amount span:last-of-type {
    font-size: 10px;
}

.dashboard-summary .panel-body a.bank-details-summary {
    display: block;
    color: #999;
    border-bottom: 1px dotted #b7bcbf;
    padding: 10px 0;
    text-decoration: none;
    outline: none;
}

.dashboard-summary.panel-body a.bank-details-summary:hover {
    opacity: 0.6;
    text-decoration: none;
    color: #999;
}

.bank-details-summary .summary-bank-name i.active {
    color: #00E676;
}

.bank-details-summary .summary-bank-name i.inactive {
    color: red;
}

.dashboard-savings-details {
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 20px 15px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dashboard-savings-details .savings-purpose {
    font-size: 18px;
    font-weight: 400;
}

.dashboard-savings-details .custom-label {
    margin-top: 10px;
}

.dashboard-savings-details .heading {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.dashboard-savings-details .heading img {
    border-radius: 4px;
}

.dashboard-savings-details .body .h3 {
    font-weight: 400;
}

.dashboard-savings-details .body p {
    font-size: 12px;
    font-weight: 300;
}

.dashboard-details {
    margin-bottom: 20px;
}

.monthly-savings-summary {
    background: #00bdfe;
    padding: 2px 0;
    border: #00bdfe;
    border-radius: 4px;
    color: #fff;
}

.monthly-savings-summary .h3 {
    margin-top: 10px;
    font-size: 30px;
}

.monthly-savings-summary p {
    font-size: 12px;
    font-weight: 300;
}

.total-savings-summary {
    background: #ffcb00;
    padding: 2px 0;
    border: #ffcb00;
    border-radius: 4px;
    color: #fff;
    display: block;
}

.total-savings-summary:hover,
.total-savings-summary:focus {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    color: #fff;
    text-decoration: none;
}

.total-savings-summary .h3 {
    margin-top: 10px;
    font-size: 30px;
}

.total-savings-summary p {
    font-size: 12px;
    font-weight: 300;
}

.total-rewards-summary {
    background: #00E676;
    padding: 2px 0;
    border: #00E676;
    border-radius: 4px;
    color: #fff;
    display: block;
}

.total-rewards-summary:hover,
.total-rewards-summary:focus {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    color: #fff;
    text-decoration: none;
}

.total-rewards-summary .h3 {
    margin-top: 10px;
    font-size: 30px;
}

.total-rewards-summary p {
    font-size: 12px;
    font-weight: 300;
}

.savings-summary-details {
    margin-bottom: 20px;
}

.savings-summary-details .inner-addon .form-icon {
    font-size: 50px;
    left: 210px;
    bottom: 15px;
}
.savings-summary-details .inner-addon input {
    width: 80%;
    padding-left: 10px;
    margin-top: 15px;
}

.view-all-btn {
    margin: 20px auto;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 3px;
    background-color: #00C853;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    -webkit-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -moz-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    -o-transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s, color 0.2s ease;

}

.view-all-btn:hover,
.view-all-btn:focus {
    color: #fff;
    background: #388E3C;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .2);
    outline: none;
    text-decoration: none;
}
/*Media queries*/
@media (min-width: 320px) {
    .dashboard-content {
        height: 68vh;
    }

    .mobile-link-divider {
        border: 1px solid rgba(255, 255, 255, 0.25);
        margin: 5px 10px;
    }

    .activity-summary .stats {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        border-right: none;
    }

    .activity-summary .stats:last-of-type {
        border: none;
    }

    .new-plan-content .center-block {
        width: 100%;
    }

    #dashboard-navigation {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1), 0 2px 12px 0 rgba(0, 0, 0, .07);
    }
}

@media (min-width: 768px) {
    .dashboard-content {
        height: 72vh;
    }

    .mobile-link-divider {
        border: none;
        margin: 0;
    }

    .activity-summary .stats {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        border-bottom: none;
    }

    .activity-summary .stats:last-of-type {
        border: none;
    }

    .new-plan-content .center-block {
        width: 80%;
    }

    #dashboard-navigation {
        box-shadow: none;
    }

    .side-modal .close-btn,
    .side-modal .back-btn {
        top: 120px;
    }

    .side-modal {
        padding-top: 150px;
    }
}

@media (min-width: 1170px) {
    .dashboard-content {
        height: 68vh;
    }

    .mobile-link-divider {
        border: none;
        margin: 0;
    }

    .activity-summary .stats {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        border-bottom: none;
    }

    .activity-summary .stats:last-of-type {
        border: none;
    }

    .new-plan-content .center-block {
        width: 50%;
    }

    #dashboard-navigation {
        box-shadow: none;
    }

    .side-modal .close-btn,
    .side-modal .back-btn {
        top: 70px;
    }

    .side-modal {
        padding-top: 100px;
    }
}