* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

body, p, a, label {
    font-family: 'Rubik', sans-serif;
}

.no-padding {
    padding: 0;
}

/*auth style*/
.kw-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 15px 22px;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    border: none;
    background-color: #1abc9c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1CCDAA), color-stop(100%, #1abc9c));
    background: -moz-linear-gradient(#1CCDAA, #1abc9c);
    background: -webkit-linear-gradient(#1CCDAA, #1abc9c);
    background: linear-gradient(#1CCDAA, #1abc9c);
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.kw-btn:focus,
.kw-btn:hover {
    outline: none;
    color: #fff;
    background: #169e83;
    text-decoration: none;
    box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
}

.kw-btn:hover {
    transform: translateY(4px);
}

.kw-btn.big {
    padding: 23px 30px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
}

.kw-btn.full {
    display: block;
    width: 100%;
}

.kw-btn-transparent {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    background-color: transparent;
    box-shadow: none;
    padding: 15px 22px;
    border-radius: 3px;
    line-height: 1em;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}

.kw-btn-transparent:hover,
.kw-btn-transparent:focus {
    border: 1px solid #148c74;
    color: #148c74;
    text-decoration: none;
}

.login-btn-container {
    width: 100%;
    margin: 50px 0;
}

.app-logo {
    font-weight: 700;
    text-decoration: none;
    color: #1abc9c;
}

#app-logo {
    font-weight: 700;
    text-decoration: none;
    color: #1abc9c;
    font-size: 36px;
}

#app-logo:hover,
#app-logo:focus {
    text-decoration: none;
    color: #1abc9c !important;
}

.app-logo:hover,
.app-logo:focus {
    text-decoration: none;
    color: #1abc9c;
}

.form-container {
    margin: 0 auto;
    width: 330px;
    max-width: 100%;
    padding: 0 20px 40px 20px;
}

.form-container .helper-text {
    color: #899da3;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
}

.auth-form .form-control {
    padding: 14px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    background: #f9fafc;
    border: 1px solid #eef0f3;
    box-shadow: none;
}

.auth-form .form-control:focus {
    background: transparent;
    border: 1px solid #3e70ff;
}

.inline {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: 300;
    color: #768093;
    font-style: inherit;
    position: relative;
    bottom: 18px;
    left: 15px;
}

.auth-form label.checkbox {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.input-helper.checkbox {
    position: relative;
    padding: 0;
    border: none;
}

label.input-helper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #e8ebef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.input-helper.checkbox input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

.input-helper.checkbox span {
    position: relative;
    display: block;
    width: 32px;
    height: 16px;
    background-color: #abb1b7;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.input-helper.checkbox span:after {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    left: 1px;
    top: 1px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition-property: left, box-shadow;
    -o-transition-property: left, box-shadow;
    -webkit-transition-property: left, box-shadow;
    transition-property: left, box-shadow;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.input-helper.checkbox input[type=checkbox]:checked + span {
    background-color: #1abc9c;
}

.input-helper.checkbox input[type=checkbox]:checked + span:after {
    left: 17px;
}

.kw-link {
    font-size: 17px;
}

.kw-link-green {
    color: #1abc9c;
}

.kw-link-green:hover,
.kw-link-green:focus {
    color: #148c74;
}

.kw-link-grey {
    color: #768093;
}

.kw-link-grey:hover,
.kw-link-grey:focus {
    color: #888;
}

#reset-auth-container ul {
    position: relative;
    width: 100%;
}

/*Index style*/

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-inner-container {
    display: flex;
    padding: 120px 0;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.hero-content {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

}

.section.fadeInUp {
    opacity: 1;
    transform: translateY(0px);
}

.hero-headline, .hero-subheadline, .cta-container {
    align-self: center;
}

.hero-subheadline p {
    color: #899da3;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 25px 0;
    font-weight: 300;
}

.hero-headline .h1 {
    font-weight: 400;
    font-size: 70px;
    padding: 0 0 25px 0;
    line-height: 1.091em;
    letter-spacing: -0.02em;
}

#index-navigation {
    padding: 20px 0;
    border: none;
}

.navigation {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: transparent;

}

.navigation.change-bg {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0 10px 20px;
}

.cta-container {
    padding-bottom: 100px;
}

.problem {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}

.problem .problem-statement {
    position: relative;
    padding: 150px 0 50px;
    z-index: 1;
}

.problem-headline .h2 {
    color: #252525;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -.01em;
    line-height: 1.05;
    padding: 0 0 10px 0;
}

.problem-headline .h2:before {
    background: rgba(0,144,255,.05);
    border-radius: 50%;
    content: "";
    height: 200px;
    left: 160px;
    position: absolute;
    top: -50px;
    width: 200px;
    z-index: -1;
}
.problem-headline p {
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    padding: 0 0 40px;
    color: #899da3;
}

.problem-subheadline p {
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    padding: 0 0 40px;
    color: #899da3;
}

.problem-headline .kw-btn {
    margin-top: 30px;
}
.benefits {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    position: relative;
    z-index: 1;
}

.benefits-container {
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.benefit-headline {
    line-height: 38px;
    padding-bottom: 14px;
    font-weight: 400;
}

.benefit-headline-black {
    color: #273438;
}

.benefit-subheadline {
    color: #899da3;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 0 40px;
}

.guarantee {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 50px 0;
}

.faq-container {
    width: 100%;
    max-width: 311px;
}

.faq-headline {
    padding-bottom: 14px;
    font-weight: 400;
}

.faq-subheadline {
    font-size: 18px;
    font-weight: 300;
    color: #899da3;
    line-height: 30px;
    margin-bottom: 80px;
}

.faq-icon {
    color: #1abc9c;
    font-size: 40px
}

.white-box {
    margin: 50px 0 50px;
    background: #fff;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.08);
}

.white-box p {
    margin-top: 30px;
    color: #899da3;
    font-size: 18px;
    font-weight: 300;
}

.white-box a {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-appearance: none;
    background: none;
    padding: 14px 24px;
    border: solid 1px #1abc9c;
    color: #1abc9c;
    border-radius: 500px;
    margin: 60px 0 0;
    display: inline-block;
    text-decoration: none;
    transition: all linear 0.2s;
}

.white-box a:hover {
    transform: translateY(-4px);
}

#sign-up-link {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

#sign-up-link:hover {
    background: #169e83;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

#faq-link-btn {
    margin-top: 40px;
}

.faq {
    width: 100%;
    height: auto;
    margin-right: 10px;
    padding: 0;
}

.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    line-height: 70px;
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    background: #fff;
}

.flickity-prev-next-button.previous {
    margin-left: -80px;
}

.flickity-prev-next-button.next {
    margin-right: -80px;
}

.flickity-prev-next-button:hover {
    background: #fff;
}

.ready-to-start {
    background: url("../img/index-hero.jpg") no-repeat center /cover rgba(0, 0, 0, 0.3);
    padding: 80px 30px;
    z-index: 1;
    position: relative;
    color: #fff;

}

.ready-to-start .h2 {
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
}

.ready-to-start .h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
}

.ready-to-start .kw-btn {
    margin-top: 20px;
}

.footer {
    padding: 50px 0;
    background: #fff;
    z-index: 1;
    position: relative;
}

.footer-main-text {
    color: #899da3;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}

.footer ul li a {
    color: #1abc9c;
    display: block;
    padding: 10px 10px 10px 0;
    font-size: 14px;
    opacity: 1;
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.footer ul li a:hover {
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
    transform: scaleY(1.1);
    cursor: pointer;
    text-decoration: none;
}

#nav-toggle {
    background: transparent;
    border: none;
}

.icon-bar {
    height: 3px;
}

.icon-container {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}

.faq-main-text {
    font-weight: 500;
    font-size: 48px;
    padding-bottom: 40px;
    line-height: 52px;
}

.dashboard-img {
    display: block;
    margin: 0 auto;
}
/*loader style*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 50% auto 0;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    display: block;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/*media queries*/
@media (min-width: 320px) {

    .auth-page-header {
        padding: 10% 0;
    }

    #reset-auth-container ul li.pull-left {
        position: relative;
        width: 100%;
    }

    .sk-folding-cube {
        margin: 70% auto 0;
    }

    .hero-content {
        top: 50%;
    }

    .hero-headline .h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .hero-subheadline {
        width: 100%;
    }

    .problem-headline .h1 {
        font-size: 30px;
    }

    .hero-subheadline p {
        font-size: 14px;
    }

    #sign-up-link {
        background: none;
        color: #777;
        box-shadow: none;
        border-radius: 0;
        padding: 15px;
    }

    #login-link {
        padding: 15px;
    }

    .hero {
        background: url('../img/hero1.png') no-repeat center center, linear-gradient(180deg, #f2f4f7 10%, #fff 60%);
    }

    .padded-benefit {
        padding: 0;
    }

    .faq-right {
        padding: 0 15px;
    }

    .faq-left {
        border: none;
    }
    .problem-headline .center-block {
        margin: 0;
    }
    .problem-headline .center-block {
        margin: 0;
    }
    .dashboard-img {
        width: 350px;
    }

}

@media (min-width: 768px) {

    .auth-page-header {
        padding: 10% 0 5%;
    }

    #reset-auth-container ul li.pull-left {
        position: relative;
        width: 50%;
    }

    .sk-folding-cube {
        margin: 60% auto 0;
    }

    .hero-content {
        top: 100%;
    }

    .hero-headline .h1 {
        font-size: 48px;
        font-weight: 500;
    }

    .hero-subheadline {
        width: 70%;
    }

    .problem-headline .h1 {
        font-size: 48px;
    }

    .hero-subheadline p {
        font-size: 16px;
    }

    #sign-up-link {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1CCDAA), color-stop(100%, #1abc9c));
        background: -moz-linear-gradient(#1CCDAA, #1abc9c);
        background: -webkit-linear-gradient(#1CCDAA, #1abc9c);
        background: linear-gradient(#1CCDAA, #1abc9c);
        color: #fff;
        box-shadow: rgba(50, 50, 93, 0.109804) 0 4px 6px, rgba(0, 0, 0, 0.0784314) 0 1px 3px;
        border-radius: 3px;
        padding: 10px 15px;
    }

    #login-link {
        padding: 10px 15px;
    }

    .hero {
        background: url('../img/hero1.png') no-repeat right 250px, linear-gradient(180deg, #f2f4f7 10%, #fff 60%);
    }

    .padded-benefit {
        padding: 0;
    }

    .faq-right {
        padding-left: 55px;
    }

    .faq-left {
        border-right: 1px solid rgba(219, 219, 219, 0.69);
    }
    .problem-headline .center-block {
        margin: 0;
    }
    .dashboard-img {
        width: 600px;
    }

}

@media (min-width: 1170px) {

    .auth-page-header {
        padding: 2% 0;
    }

    #reset-auth-container ul li.pull-left {
        position: relative;
        width: 50%;
    }

    .sk-folding-cube {
        margin: 30% auto 0;
    }

    .hero-content {
        top: 70%;
    }

    .hero-headline .h1 {
        font-size: 48px;
        font-weight: 500;
    }

    .hero-subheadline {
        width: calc(50% - 32px);
    }

    .cta-container {
        width: calc(40% - 32px);
    }

    .problem-headline .h1 {
        font-size: 48px;
    }

    .hero-subheadline p {
        font-size: 18px;
    }

    #sign-up-link {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1CCDAA), color-stop(100%, #1abc9c));
        background: -moz-linear-gradient(#1CCDAA, #1abc9c);
        background: -webkit-linear-gradient(#1CCDAA, #1abc9c);
        background: linear-gradient(#1CCDAA, #1abc9c);
        color: #fff;
        box-shadow: rgba(50, 50, 93, 0.109804) 0 4px 6px, rgba(0, 0, 0, 0.0784314) 0 1px 3px;
        border-radius: 3px;
        padding: 10px 15px;
    }

    #login-link {
        padding: 10px 15px;
    }

    .hero {
        background: url('../img/hero1.png') no-repeat center center, linear-gradient(180deg, #f2f4f7 10%, #fff 60%);
    }

    .padded-benefit {
        padding: 0 0 0 65px;
    }

    .faq-right {
        padding: 0 0 0 215px;
    }

    .faq-left {
        border-right: 1px solid rgba(219, 219, 219, 0.69);
    }

    .problem-headline .center-block {
        margin: 0 250px;
    }
    .dashboard-img {
        width: 600px;
    }

}